.container {
  width: 1320px;
  margin: auto;
}

@media screen and (max-width: 1399.2px) {
  .container {
    width: 1140px;
    margin: auto;
  }
}
@media screen and (max-width: 1199.2px) {
  .container {
    width: 960px;
    margin: auto;
  }
}
@media screen and (max-width: 991.2px) {
  .container {
    width: 720px;
    margin: auto;
  }
}
@media screen and (max-width: 767.2px) {
  .container {
    width: 540px;
    margin: auto;
  }
}
@media screen and (max-width: 575.2px) {
  .container {
    padding: 1rem;
    width: 100%;
    margin: auto;
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Public Sans", sans-serif;
}

p {
  font-size: 0.9rem;
}

img {
  width: 100%;
}

section {
  padding: 60px 0px;
  background-color: #f3f3f3;
}

button {
  cursor: pointer;
}

.section-header {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.section-header p {
  color: #525252;
}
.section-header h2 {
  color: #274180;
  font-size: 2rem;
}

.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.75rem;
  position: relative;
}
.header .header-container p.brandname > a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.header .header-container ul.nav-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .header-container ul.nav-area .nav-link {
  list-style: none;
}
.header .header-container ul.nav-area .nav-link a {
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 0rem 0.6rem 2rem;
}
@media (max-width: 767.2px) {
  .header .header-container ul.nav-area {
    display: none;
  }
}

.hero-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%), url(../assets/hero-bg.jpg) no-repeat center;
  background-size: cover;
  background-position: center center;
  background-size: cover;
}
.hero-section .hero-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.75rem;
}
.hero-section .hero-container .hero-text-image {
  display: flex;
}
.hero-section .hero-container .hero-text-image .hero-text-area {
  width: 60%;
  color: #fff;
  display: flex;
  align-items: center;
}
.hero-section .hero-container .hero-text-image .hero-text-area .text-area-container h1.hero-header {
  font-size: 3.5rem;
  margin-bottom: 1.9rem;
}
.hero-section .hero-container .hero-text-image .hero-text-area .text-area-container p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.hero-section .hero-container .hero-text-image .hero-text-area .text-area-container button {
  border: 2px #fff solid;
  border-radius: 2rem;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.hero-section .hero-container .hero-text-image .hero-text-area .text-area-container button:hover {
  background-color: #fff;
  color: #274180;
}
.hero-section .hero-container .hero-text-image .hero-image-area {
  width: 40%;
  margin: auto;
}
.hero-section .hero-container .hero-text-image .hero-image-area img {
  width: 100%;
}
@media (max-width: 991.2px) {
  .hero-section .hero-container .hero-text-image {
    flex-direction: column;
  }
  .hero-section .hero-container .hero-text-image .hero-text-area {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .hero-section .hero-container .hero-text-image .hero-text-area .text-area-container h1.hero-header {
    font-size: 2.5rem;
  }
}

.second-hero {
  padding: 60px 0px 0px 0px;
  background-color: #f3f3f3;
}
.second-hero .second-hero-container {
  display: flex;
  justify-content: space-evenly;
}
.second-hero .second-hero-container .col-left {
  width: 55%;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}
.second-hero .second-hero-container .col-left h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #274180;
}
.second-hero .second-hero-container .col-left p {
  font-size: 0.95rem;
  color: #525252;
  line-height: 1.7;
  margin-bottom: 20px;
}
.second-hero .second-hero-container .col-left button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #274180, #416fdb);
  border: none;
  color: #fff;
  border-radius: 2rem;
}
.second-hero .second-hero-container .col-right {
  width: 40%;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.second-hero .second-hero-container .col-right img {
  width: 100%;
}
@media (max-width: 991.2px) {
  .second-hero .second-hero-container {
    display: block;
  }
  .second-hero .second-hero-container .col-left,
.second-hero .second-hero-container .col-right {
    width: 100%;
  }
}
@media (max-width: 767.2px) {
  .second-hero .second-hero-container .col-left,
.second-hero .second-hero-container .col-right {
    padding: 0;
  }
}

.about-section .about-container .about-content .block1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.about-section .about-container .about-content .block1 .col-left {
  width: 55%;
  display: flex;
  align-items: flex-end;
  padding-right: 1rem;
}
.about-section .about-container .about-content .block1 .col-left img {
  width: 100%;
  height: auto;
}
.about-section .about-container .about-content .block1 .col-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 40%;
  padding-left: 1rem;
}
.about-section .about-container .about-content .block1 .col-right p.empha-para {
  line-height: 1.2;
}
.about-section .about-container .about-content .block1 .col-right p.empha-para::before {
  content: open-quote;
  color: #274180;
  font-size: 2em;
  position: relative;
  top: 0.25em;
  margin-right: 0.2em;
}
.about-section .about-container .about-content .block1 .col-right p.empha-para::after {
  content: close-quote;
  color: #274180;
  font-size: 2em;
  position: relative;
  bottom: -0.25em;
  margin-left: 0.2em;
}
.about-section .about-container .about-content .block1 .col-right p {
  line-height: 1.5;
  color: #525252;
}
.about-section .about-container .about-content .block1 .col-right ul {
  line-height: 1.4;
}
.about-section .about-container .about-content .block1 .col-right ul li {
  display: flex;
  align-items: center;
  padding-bottom: 0.6rem;
  list-style: none;
  font-size: 0.95rem;
}
.about-section .about-container .about-content .block1 .col-right ul li p.list-para {
  margin-bottom: 0;
  text-align: start;
}
.about-section .about-container .about-content .block1 .col-right ul li span.list-style::before {
  content: "";
  display: inline-block;
  background-color: #274180;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}
.about-section .about-container .about-content .block1 .col-right p,
.about-section .about-container .about-content .block1 .col-right ul {
  margin-bottom: 1rem;
}
.about-section .about-container .about-content .block1 .col-right p.underlined-para::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #274180;
  margin: 1rem 0;
}
.about-section .about-container .about-content .block1 .col-right .col-right-img {
  display: flex;
  align-items: flex-end;
}
.about-section .about-container .about-content .block1 .col-right .col-right-img img {
  width: 100%;
  height: auto;
}
@media (max-width: 991.2px) {
  .about-section .about-container .about-content .block1 {
    display: block;
  }
  .about-section .about-container .about-content .block1 .col-left,
.about-section .about-container .about-content .block1 .col-right {
    width: 100%;
  }
}
@media (max-width: 767.2px) {
  .about-section .about-container .about-content .block1 .col-left,
.about-section .about-container .about-content .block1 .col-right {
    padding: 0;
  }
}

.services-section .services-container .block1-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 60px;
}
@media (max-width: 767.2px) {
  .services-section .services-container .block1-grid {
    display: block;
  }
}
.services-section .services-container .block1-grid .grid-col {
  margin-top: 1rem;
  padding: 2rem 0;
  line-height: 1.5;
  display: flex;
}
.services-section .services-container .block1-grid .grid-col i {
  font-size: 2rem;
  color: #274180;
}
.services-section .services-container .block1-grid .grid-col .content {
  margin-left: 0.8rem;
}
.services-section .services-container .block1-grid .grid-col .content h4 {
  margin-bottom: 0.3rem;
  color: #343434;
  font-size: 1.5rem;
}
.services-section .services-container .block1-grid .grid-col .content p {
  font-size: 0.9rem;
  color: #525252;
}
.services-section .services-container .card-grid-area {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 991.2px) {
  .services-section .services-container .card-grid-area {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.2px) {
  .services-section .services-container .card-grid-area {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services-section .services-container .card-grid-area .card-item {
  border: #cacaca 1px solid;
  border-radius: 0.5rem;
}
.services-section .services-container .card-grid-area .card-item .card-image {
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
}
.services-section .services-container .card-grid-area .card-item .card-image img {
  width: 100%;
  transition: 250ms ease-in;
}
.services-section .services-container .card-grid-area .card-item .card-image img:hover {
  transform: scale(1.1);
}
.services-section .services-container .card-grid-area .card-item .card-content {
  padding: 2rem;
  line-height: 1.5;
  transition: 250ms ease-in-out;
}
.services-section .services-container .card-grid-area .card-item .card-content h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #274180;
  text-transform: uppercase;
  font-weight: 900;
}
.services-section .services-container .card-grid-area .card-item .card-content p {
  color: #525252;
}
.services-section .services-container .card-grid-area .card-item .card-content:hover h4 {
  color: #3355a7;
}

.team-section {
  background-color: #f7f9fc;
}
.team-section .team-container .team-card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 991.2px) {
  .team-section .team-container .team-card-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.2px) {
  .team-section .team-container .team-card-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
.team-section .team-container .team-card-section .member-profile-card {
  text-align: center;
  line-height: 1.7;
}
.team-section .team-container .team-card-section .member-profile-card .soc-med-contacts {
  letter-spacing: 0.4rem;
}
.team-section .team-container .team-card-section .member-profile-card .soc-med-contacts i {
  color: #274180;
  font-size: 1.1rem;
}

.contact-section {
  height: 100vh;
  position: relative;
  background-color: rgba(52, 52, 52, 0.6235294118);
}
.contact-section .contact-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url("../../assets/city-1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=style.css.map */