.header-on-scroll {
  padding: 1rem 0.75rem;
}

.header-on-top {
  padding: 2.5rem 0.75rem;
}

.show-header-bg {
  background-color: #343434;
}

.container {
  width: 1320px;
  margin: auto;
}

@media screen and (max-width: 1399.2px) {
  .container {
    width: 1140px;
    margin: auto;
  }
}
@media screen and (max-width: 1199.2px) {
  .container {
    width: 960px;
    margin: auto;
  }
}
@media screen and (max-width: 991.2px) {
  .container {
    width: 720px;
    margin: auto;
  }
}
@media screen and (max-width: 767.2px) {
  .container {
    width: 540px;
    margin: auto;
  }
}
@media screen and (max-width: 575.2px) {
  .container {
    padding: 0 1rem;
    width: 100%;
    margin: auto;
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Public Sans", sans-serif;
}

p {
  font-size: 0.9rem;
}

img {
  width: 100%;
}

.fixed-bg {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../assets/city-1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

section {
  padding: 60px 0px;
  background-color: #f3f3f3;
}

h2 {
  font-size: 2.7rem !important;
}

h3 {
  font-size: 2rem !important;
}

h4 {
  font-size: 1.6rem !important;
}

.primary {
  color: #209cee !important;
}

.secondary {
  color: #00d1b2;
}

.dark {
  color: #343434;
}

.danger {
  color: #ff3860;
}

.success {
  color: #40a262;
}

.warning {
  color: #f2b969;
}

.my-btn {
  color: #fff !important;
  background: linear-gradient(to right, #00a088, #416fdb);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none !important;
  font-weight: 700;
  font-size: 1rem !important;
  text-transform: uppercase;
}

.section-header {
  text-align: center;
  line-height: 1.8;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.section-header p {
  color: #525252;
}
.section-header h2 {
  font-size: 2rem !important;
  font-weight: 700;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: 200ms ease-in;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .header-container .nav-area-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .header-container .nav-area-container p.brandname > a {
  font-family: "Cabin Sketch", cursive;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin-right: 5rem;
}
@media (max-width: 767.2px) {
  .header .header-container .nav-area-container p.brandname > a {
    font-size: 1.5rem;
  }
}
.header .header-container .nav-area-container ul.nav-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .header-container .nav-area-container ul.nav-area .nav-link {
  list-style: none;
}
.header .header-container .nav-area-container ul.nav-area .nav-link a {
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 0rem 0.6rem 2rem;
}
@media (max-width: 991.2px) {
  .header .header-container .nav-area-container ul.nav-area {
    display: none;
  }
}
.header .header-container .nav-right-side .nav-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-container .nav-right-side .nav-area p {
  margin-right: 1rem;
  color: #fff;
}
.header .header-container .nav-right-side .nav-area button {
  font-size: 1rem;
}
@media (max-width: 991.2px) {
  .header .header-container .nav-right-side .nav-area {
    display: none;
  }
}
.header .header-container .nav-right-side #show-menu-btn > i.fa-solid {
  display: none;
  color: #fff;
  font-size: 1.5rem;
}
@media (max-width: 991.2px) {
  .header .header-container .nav-right-side #show-menu-btn > i.fa-solid {
    display: block;
  }
}
.header #drop-down-menu {
  height: 0px;
  display: none;
  transition: 500ms ease-in-out;
}
.header #drop-down-menu .container a {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 0.7rem 0rem;
  transition: 500ms ease-in-out;
}
.header #drop-down-menu .container a:hover, .header #drop-down-menu .container a:active {
  background-color: #484848;
}

.hero-section {
  width: 100%;
  height: 100vh;
  background: rgba(52, 52, 52, 0.6901960784);
}
.hero-section .hero-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.75rem;
}
.hero-section .hero-container .hero-text-area {
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
}
.hero-section .hero-container .hero-text-area .text-area-container h1.hero-header {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
@media (max-width: 767.2px) {
  .hero-section .hero-container .hero-text-area .text-area-container h1.hero-header {
    font-size: 2.5rem;
  }
}
.hero-section .hero-container .hero-text-area .text-area-container p {
  width: 90%;
  font-size: 1rem;
  margin: auto;
  margin-bottom: 2rem;
}
.hero-section .hero-container .hero-text-area .text-area-container button:hover {
  background-color: #fff;
  color: #209cee;
}

.second-hero {
  padding: 60px 0px;
  background-color: #f3f3f3;
}
.second-hero .second-hero-container {
  display: flex;
  justify-content: space-evenly;
}
.second-hero .second-hero-container .col-left {
  width: 55%;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}
.second-hero .second-hero-container .col-left h3 {
  margin-bottom: 20px;
  color: #209cee;
}
.second-hero .second-hero-container .col-left p {
  font-size: 0.95rem;
  color: #525252;
  line-height: 1.7;
  margin-bottom: 20px;
}
.second-hero .second-hero-container .col-right {
  width: 40%;
  padding-left: 1rem;
}
.second-hero .second-hero-container .col-right img {
  width: 100%;
}
@media (max-width: 991.2px) {
  .second-hero .second-hero-container {
    display: block;
  }
  .second-hero .second-hero-container .col-left,
.second-hero .second-hero-container .col-right {
    width: 100%;
  }
}
@media (max-width: 767.2px) {
  .second-hero .second-hero-container .col-left,
.second-hero .second-hero-container .col-right {
    padding: 0;
  }
}

.about-section {
  background-color: #f7f9fc;
}
.about-section .about-container .about-content .block1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.about-section .about-container .about-content .block1 .col-left {
  width: 55%;
  display: flex;
  align-items: flex-end;
  padding-right: 1rem;
}
.about-section .about-container .about-content .block1 .col-left img {
  width: 100%;
  height: auto;
}
.about-section .about-container .about-content .block1 .col-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 40%;
  padding-left: 1rem;
}
.about-section .about-container .about-content .block1 .col-right p.empha-para {
  line-height: 1.2;
}
.about-section .about-container .about-content .block1 .col-right p.empha-para::before {
  content: open-quote;
  color: #209cee;
  font-size: 2em;
  position: relative;
  top: 0.25em;
  margin-right: 0.2em;
}
.about-section .about-container .about-content .block1 .col-right p.empha-para::after {
  content: close-quote;
  color: #209cee;
  font-size: 2em;
  position: relative;
  bottom: -0.25em;
  margin-left: 0.2em;
}
.about-section .about-container .about-content .block1 .col-right p {
  line-height: 1.5;
  color: #525252;
}
.about-section .about-container .about-content .block1 .col-right ul {
  line-height: 1.4;
}
.about-section .about-container .about-content .block1 .col-right ul li {
  display: flex;
  align-items: center;
  padding-bottom: 0.6rem;
  list-style: none;
  font-size: 0.95rem;
}
.about-section .about-container .about-content .block1 .col-right ul li p.list-para {
  margin-bottom: 0;
  text-align: start;
}
.about-section .about-container .about-content .block1 .col-right ul li span.list-style::before {
  content: "";
  display: inline-block;
  background-color: #209cee;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}
.about-section .about-container .about-content .block1 .col-right p,
.about-section .about-container .about-content .block1 .col-right ul {
  margin-bottom: 1rem;
}
.about-section .about-container .about-content .block1 .col-right p.underlined-para::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #209cee;
  margin: 1rem 0;
}
.about-section .about-container .about-content .block1 .col-right .col-right-img {
  display: flex;
  align-items: flex-end;
}
.about-section .about-container .about-content .block1 .col-right .col-right-img img {
  width: 100%;
  height: auto;
}
@media (max-width: 991.2px) {
  .about-section .about-container .about-content .block1 {
    display: block;
  }
  .about-section .about-container .about-content .block1 .col-left,
.about-section .about-container .about-content .block1 .col-right {
    width: 100%;
  }
}
@media (max-width: 767.2px) {
  .about-section .about-container .about-content .block1 .col-left,
.about-section .about-container .about-content .block1 .col-right {
    padding: 0;
  }
}

.services-section .services-container .block1-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  margin-bottom: 60px;
}
@media (max-width: 767.2px) {
  .services-section .services-container .block1-grid {
    display: block;
  }
}
.services-section .services-container .block1-grid .grid-col {
  margin-top: 1rem;
  padding: 2rem 0;
  line-height: 1.5;
  display: flex;
}
.services-section .services-container .block1-grid .grid-col i {
  font-size: 2rem;
}
.services-section .services-container .block1-grid .grid-col .content {
  margin-left: 0.8rem;
}
.services-section .services-container .block1-grid .grid-col .content h4 {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}
.services-section .services-container .block1-grid .grid-col .content p {
  font-size: 0.9rem;
}
.services-section .services-container .card-grid-area {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 991.2px) {
  .services-section .services-container .card-grid-area {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.2px) {
  .services-section .services-container .card-grid-area {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services-section .services-container .card-grid-area .card-item {
  border: #dfdfdf 1px solid;
  border-radius: 0.5rem;
}
.services-section .services-container .card-grid-area .card-item .card-image {
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
}
.services-section .services-container .card-grid-area .card-item .card-image img {
  width: 100%;
  transition: 250ms ease-in;
}
.services-section .services-container .card-grid-area .card-item .card-image img:hover {
  transform: scale(1.1);
}
.services-section .services-container .card-grid-area .card-item .card-content {
  padding: 2rem;
  line-height: 1.5;
  transition: 250ms ease-in-out;
}
.services-section .services-container .card-grid-area .card-item .card-content h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 900;
}
.services-section .services-container .card-grid-area .card-item .card-content p {
  color: #525252;
}
.services-section .services-container .card-grid-area .card-item .card-content:hover h4 {
  color: #4fb1f2;
}

.team-section {
  background-color: #f7f9fc;
}
.team-section .team-container .team-card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 991.2px) {
  .team-section .team-container .team-card-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.2px) {
  .team-section .team-container .team-card-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
.team-section .team-container .team-card-section .member-profile-card {
  text-align: center;
  line-height: 1.7;
}
.team-section .team-container .team-card-section .member-profile-card .soc-med-contacts {
  letter-spacing: 0.4rem;
}
.team-section .team-container .team-card-section .member-profile-card .soc-med-contacts i {
  color: #209cee;
  font-size: 1.1rem;
}

.contact-section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(52, 52, 52, 0.7529411765);
}
.contact-section .contact-container .section-header {
  margin-bottom: 7rem;
}
.contact-section .contact-container .section-header h2,
.contact-section .contact-container .section-header p {
  color: #fff;
}
.contact-section .contact-container .section-header p {
  margin-bottom: 1.5rem;
  margin: auto;
}
.contact-section .contact-container .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 767.2px) {
  .contact-section .contact-container .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.contact-section .contact-container .content .contact-info h3,
.contact-section .contact-container .content .contact-info p {
  color: #fff;
}
.contact-section .contact-container .content .contact-info hr {
  background: #00d1b2;
}
.contact-section .contact-container .content .contact-info .btn-area > button:nth-child(1) {
  margin-right: 1rem;
}
.contact-section .contact-container .content .contact-info .soc-med-icons i.fab {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 0.5rem;
}
.contact-section .contact-container .content .contact-info .soc-med-icons i:nth-child(1) {
  background-color: #4267b2;
}
.contact-section .contact-container .content .contact-info .soc-med-icons i:nth-child(2) {
  background: linear-gradient(to top right, #fcaf45, #c13584);
}
.contact-section .contact-container .content .contact-info .soc-med-icons i:nth-child(3) {
  background-color: #1da1f2;
}
.contact-section .contact-container .content .contact-info .soc-med-icons i:nth-child(4) {
  background-color: #0077b5;
}
.contact-section .contact-container .content .contact-form {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 0.5rem;
}
@media (max-width: 991.2px) {
  .contact-section .contact-container .content .contact-form {
    padding: 1.5rem;
  }
}
.contact-section .contact-container .content .contact-form h4 {
  margin-bottom: 2.5rem;
}
.contact-section .contact-container .content .contact-form form input {
  margin-bottom: 2rem;
}
.contact-section .contact-container .content .contact-form form p {
  font-size: 1rem;
  text-align: center;
}
.contact-section .contact-container .content .contact-form form button {
  width: 100%;
}
.contact-section .contact-container .content .contact-form form button#submitBtn {
  margin-bottom: 0.7rem;
}

footer {
  background-color: rgba(52, 52, 52, 0.9176470588);
  padding: 2rem 0;
  text-align: center;
}
footer .container p {
  color: #fff;
}
footer .container div {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
footer .container div p:nth-child(1) {
  margin-right: 0.5rem;
}/*# sourceMappingURL=style.css.map */