@use "../abstracts/abstr_index" as *;

.contact-section {
  height: fit-content;
  background-color: $dark-overlay;

  .contact-container {
    .section-header {
      margin-bottom: 7rem;

      h2,
      p {
        color: #fff;
      }

      p {
        margin-bottom: 1.5rem;

        margin: auto;
      }
    }
    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      @include small-screen {
        grid-template-columns: repeat(1, 1fr);
      }

      .contact-info {
        h3,
        p {
          color: #fff;
        }

        hr {
          background: $secondary-color;
        }

        .btn-area > button:nth-child(1) {
          margin-right: 1rem;
        }

        .soc-med-icons {
          i.fab {
            font-size: 1.2rem;
            text-align: center;
            color: #fff;
            padding: 0.8rem;
            border-radius: 50%;
            background-color: #fff;
            margin-right: 0.5rem;
          }

          i:nth-child(1) {
            background-color: #4267b2;
          }
          i:nth-child(2) {
            background: linear-gradient(to top right, #fcaf45, #c13584);
          }
          i:nth-child(3) {
            background-color: #1da1f2;
          }
          i:nth-child(4) {
            background-color: #0077b5;
          }
        }
      }

      .contact-form {
        background-color: #fff;
        padding: 2.5rem;
        border-radius: 0.5rem;

        @include medium-screen {
          padding: 1.5rem;
        }
        h4 {
          margin-bottom: 2.5rem;
        }
        form {
          input {
            margin-bottom: 2rem;
          }

          p {
            font-size: 1rem;
            text-align: center;
          }

          button {
            width: 100%;
          }

          button#submitBtn {
            margin-bottom: 0.7rem;
          }
        }
      }
    }
  }
}
