@use "../abstracts/abstr_index" as *;

.header {
  position: fixed;
  background-color: $dark-color;
  width: 100%;
  z-index: 1;
  transition: 200ms ease-in;
  .header-container {
    @include flex-between-center;
    position: relative;
    .nav-area {
      @include flex-start-center;
      p.brandname > a {
        font-family: "Cabin Sketch", cursive;
        font-size: 2rem;
        font-weight: weight(bold);
        color: #fff;
        text-decoration: none;
        margin-right: 5rem;
      }

      ul.nav-area {
        @include flex-start-center;

        .nav-link {
          list-style: none;

          a {
            color: #fff;
            text-decoration: none;
            padding: 0.6rem 0rem 0.6rem 2rem;
          }
        }

        @include small-screen {
          display: none;
        }
      }
    }

    .nav-right-side {
      @include flex-between-center;

      p {
        margin-right: 1rem;
        color: #fff;
      }
    }
  }
}
