@use "../abstracts/abstr_index" as *;

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: 200ms ease-in;

  .header-container {
    position: relative;
    @include flex-between-center;

    .nav-area-container {
      @include flex-start-center;

      p.brandname > a {
        font-family: "Cabin Sketch", cursive;
        font-size: 2rem;
        font-weight: weight(bold);
        color: #fff;
        text-decoration: none;
        margin-right: 5rem;

        @include small-screen {
          font-size: 1.5rem;
        }
      }

      ul.nav-area {
        @include flex-start-center;

        .nav-link {
          list-style: none;

          a {
            color: #fff;
            text-decoration: none;
            padding: 0.6rem 0rem 0.6rem 2rem;
          }
        }

        @include medium-screen {
          display: none;
        }
      }
    }

    .nav-right-side {
      .nav-area {
        @include flex-between-center;

        p {
          margin-right: 1rem;
          color: #fff;
        }

        button {
          font-size: 1rem;
        }

        @include medium-screen {
          display: none;
        }
      }

      #show-menu-btn > i.fa-solid {
        display: none;
        color: #fff;
        font-size: 1.5rem;
        @include medium-screen {
          display: block;
        }
      }
    }
  }

  #drop-down-menu {
    height: 0px;
    display: none;
    transition: 500ms ease-in-out;

    .container {
      a {
        display: block;
        color: #fff;
        text-decoration: none;
        width: 100%;
        padding: 0.7rem 0rem;
        transition: 150ms ease-in-out;

        &:hover,
        &:active {
          background-color: lighten($dark-color, $amount: 8);
        }
      }
    }
  }
}
