@use "../abstracts/abstr_index" as *;
.hero-section {
  width: 100%;
  height: 100vh;
  background: #343434b0;

  .hero-bg {
    position: absolute;
    inset: 0;
    background: url("../assets/city-1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .hero-container {
    @include flex-align-center;
    height: 100%;
    padding: 0 0.75rem;
    .hero-text-area {
      text-align: center;
      color: #fff;
      @include flex-align-center;
      .text-area-container {
        h1.hero-header {
          font-size: 3.5rem;
          font-weight: 900;
          margin-bottom: 1rem;

          @include small-screen {
            font-size: 2.5rem;
          }
        }

        p {
          width: 90%;
          font-size: 1rem;
          margin: auto;
          margin-bottom: 2rem;
        }

        button {
          &:hover {
            background-color: #fff;
            color: $primary-color;
          }
        }
      }
    }
  }
}

.second-hero {
  padding: 60px 0px;
  background-color: #fff;

  .second-hero-container {
    @include flex-evenly;

    .col-left {
      width: 55%;
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2rem;

      h3 {
        margin-bottom: 20px;
        color: $primary-color;
      }

      p {
        font-size: 0.95rem;
        color: $info-color;
        line-height: 1.7;
        margin-bottom: 20px;
      }

      hr {
        background-color: $secondary-color;
      }
    }
    .col-right {
      width: 40%;
      padding-left: 1rem;
      // margin-bottom: 1rem;

      img {
        width: 100%;
      }
    }

    @include medium-screen {
      display: block;
      .col-left,
      .col-right {
        width: 100%;
      }
    }

    @include small-screen {
      .col-left,
      .col-right {
        padding: 0;
      }
    }
  }
}
