@use "../abstracts/abstr_index" as *;

.services-section {
  padding: 60px 0px 0px 0px;
  .services-container {
    .section-header {
    }

    .block1-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;

      .grid-col {
        margin-top: 1rem;
        padding: 2rem 0;
        line-height: 1.5;
        display: flex;

        i {
          font-size: 2.5rem;
          color: $primary-color;
        }

        .content {
          margin-left: 0.8rem;
          h4 {
            margin-bottom: 0.3rem;
            color: $dark-color;
            font-size: 1.5rem;
            // font-weight: weight(x-bold);
          }

          p {
            font-size: 0.9rem;
            color: $info-color;
          }
        }
      }
    }
  }
}
