.my-btn {
  color: #fff !important;
  background: linear-gradient(to right, #00a088, #416fdb);
  width: fit-content;
  border: none !important;
  font-weight: 700;
  font-size: 1rem !important;
  text-transform: uppercase;
}
