$primary-color: #209cee;
$secondary-color: #00d1b2;
$success-color: #40a262;
$info-color: #525252;
$warning-color: #f2b969;
$danger-color: #ff3860;
$dark-color: #343434;
$light-gray: #cacaca;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "x-bold": 900,
);

$media-break-points: (
  "small": 575.2px,
  "medium": 767.2px,
  "large": 991.2px,
  "x-large": 1199.2px,
  "xx-large": 1399.2px,
);
